# Dependencies
node_modules/
generate-module.ts
generate-module.js
# Build output
dist/

# Environment variables
.env*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Uploads
uploads/
public/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Testing
coverage/

# Prisma
src/generated

# TypeScript
*.tsbuildinfo

